{
  "PosX": 0,
  "PosY": 0,
  "Width": 800.0,
  "Height": 1224.0,
  "DBFile": "CallRecordGUI.db",
  "SMTP": {
    "Host": "smtp.gmail.com",
    "Port": 465,
    "Username": "email@host.com",
    "Password": "Password",
    "FromAddress": "email@host.com",
    "ToAddress": ""
  },
  "Breaks": {
    "ShiftStart": 0,
    "ShiftEnd": 0,
    "FirstBreak": 0,
    "LunchBreak": 0,
    "LastBreak": 0,
    "MeetingTime": 0,
    "TrainingTime": 0
  }
}