<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
		internalLogFile="internal.log"
      internalLogLevel="Warn">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to the console-->
    <target xsi:type="ColoredConsole" name="logconsole" />
    <target xsi:type="Debugger" name="logvsdebug" />
	  <target name="logfile" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${currentdir}/logs/${level}.${shortdate}.log"
            maxArchiveFiles="4"
				 maxArchiveDays="30"
            archiveAboveSize="10240" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logvsdebug" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>